@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('./components/normalize.css');
@import url('./components/header.css');
@import url('./components/list.css');
@import url('./components/channels.css');
@import url('./components/friends.css');
@import url('./components/friend.css');
@import url('./components/content.css');

.container {
    max-width: 1401px;
    margin: 0 auto;
    background: #000000;
}

.container_flex {
    display: flex;
}