.channels__header {
    display: flex;
    gap: 134px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
}

.channels__list {
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 12px;
}

.channels__item {
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}