.friend {
    margin-top: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.friend__online {
    fill: #70CC16;
}

.friend__ofline {
    fill: #666666;
}

.friend__avatar {
    max-width: 30px;
    max-height: 30px;
}

.friend__name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}